@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --color-canvas-default: #0d1117;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
  }
}

h1 {
  color: whitesmoke;
  font-family: 'Chivo', sans-serif;
  font-weight: 800 !important; /* specify the font weight */
}

p {
  color: whitesmoke;
}